<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Members Only</a>
    <div>
        <a href="/" class="btn btn-outline-success" type="button">Back to Homepage</a>
    </div>
  </div>
</nav>

<div class="card mx-auto" style="width:40%">
    <form action="/join" method="POST" class="p-5">
      <div class="mb-3">
          <label for="websitePassword" class="form-label">Enter code here:</label>
          <input type="text" name="websitePassword" class="form-control" id="websitePassword">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

