<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Inventory</a>
    <div>
      <a href="/" class="btn btn-outline-success" type="button">Back to Homepage</a>
    </div>
  </div>
</nav>

<section class="container">
  <div class="card mx-auto" style="width:90%">
    <h1 class="pt-3 ps-3"> {{title}} </h1>
    <form action="/login" method="POST" class="p-5">
      <!-- Username input -->
      <div class="form-group pb-2">
        <label class="form-label" for="username">Username</label>
        <input
          name="username"
          type="text"
          class="form-control form-control-lg"
          placeholder="Enter Username"
        />
      </div>

      <!-- Password input -->
      <div class="form-group pb-2">
        <label class="form-label" for="password">Password</label>
        <input
          name="password"
          type="password"
          class="form-control form-control-lg"
          placeholder="Enter password"
        />
      </div>

      <div class="d-flex justify-content-between align-items-center p-2">
        <!-- Checkbox -->
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="form1Example3"
            checked
          />
          <label class="form-check-label" for="form1Example3">
            Remember me
          </label>
        </div>
        <a href="#!">Forgot password?</a>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

      <div class="divider d-flex align-items-center my-2">
        <p class="text-center fw-bold mx-1 mb-0 text-muted">OR</p>
      </div>

      <a
        href="/sign-up"
        class="btn btn-primary btn-lg btn-block"
        style="background-color: #3b5998"
        href="#!"
        role="button"
      >
        Register here
      </a>
    </form>
  </div>
</section>